
/* Raleway Font CSS Link */
.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Inter Font CSS Link */

.inter-font {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* Shared Style */
.btn-primary{
    
    background-color: #4E47FF;
    font-weight: bold;
    color: white;
    padding: 12px 36px;
    border-radius: 12px;
    border: none;
    transition: 0.9s;
    
}
.btn-primary:hover{
    color:black;
    background-color: darkorange;
    transform: scale(1.1);
    
}
/* 38 size Raleway text */
.text-title38{
    font-size: 38px;
    font-weight: bold;
}
/* 24 size Raleway text */
.text-title24{
    font-size: 24px;
    font-weight: 300;
    color: #252432;
}

/* Header Styles */
.header{
    
    background-image: url(Assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
    
    
    
}

.nav{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    max-width: 1600px;
    margin: 0 auto;
    box-sizing: border-box;
    flex-shrink: 0;
    
}

.logo{
    font-size: 34px;
    font-weight: bold;
    color: #4E47FF;
}
.nav a{
    text-decoration: none;
}
.header-sec1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
 
}
.header-text{
    text-align: center;
    max-width: 800px;
    padding: 0 20px;
    line-height: 1.2;
    margin-bottom: 30px;
}
.header-title{
    font-size: 65px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}



/* Main Sec Style */

.main-sec2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 116px;
    padding-bottom: 116px;
    gap: 80px;
   
    
}
.main-sec2-img{
    border-radius: 12%;
    width: 70%;
}

/* Section 3 style */
.main-sec3{
    font-family: 'Inter' sans-serif;
    background-color: #1b13b810;
    border-radius: 20px;
    max-width: 1140px;
    max-height: 306px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
}
.main-sec3-text{
    font-family: 'Inter', sans-serif;
}
.joined-text{
    padding-top: 50px;
}



.main-sec-3-boro-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    
    

}


.main-sec-3-boro-text h2{
    font-size: 80px;
    color: #4E47FF;
}
.main-sec-3-boro-text p{
    font-size: 20px;
    color: #00000050
    
}
/* Card section */
.main-sec4{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding-top: 116px;
    padding-bottom: 116px;
    
}

.users-say{
    background-color: aliceblue;
    max-height: 386px;
    max-width: 243px;
    border-radius: 12px;
   
    
}
.icon-image{
    display: flex;
    flex-direction: row;
    
}
/* round image */
.image-section img{
    border-radius: 50%;

}
.image-section{
    flex-direction:row ;
}
/* Big Image Section */
.main-sec5{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    max-width: 1140PX;
    max-height: 696px;
    background-color: antiquewhite;
    margin: 0px auto;   
}

.main-sec5-text{
    padding: 20px;
}

.main-sec5-text h1{
    font-size: 50px;
    font-weight: 800;

}

/* big image */
.main-sec5 img{
    border-radius: 2%;
    

}

/* Section 6 */
.main-sec6{
    padding-top: 116px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    
}
.get-in-touch form{
display: flex;
flex-direction: column;
}
.get-in-touch-title{
    font-size: 90px;
    font-weight: 600;
}